<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="/images/logo-img.svg" type="image/svg">
        <title>Калькулятор ремонта</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <%= require('html-loader!../blocks/header.html') %>
        <%= require('html-loader!../blocks/main.html') %>
        <%= require('html-loader!../blocks/aside.html') %>
    </body>
</html>